<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Serial" value=""/>
    <add key="YunDaMaUserName" value="18842634483"/>
    <add key="YunDaMaPassword" value="yuan123456_"/>
  </appSettings> 
</configuration>